.product-detail-card{
    margin-top: 110px;
}

.size-drop-down{
    width:100%;
}

.warning-message{
    color:red;
}

.product-info{
    font-size: 20px;
    margin-bottom: 10px;
}

.study-button-container{
    
    margin-left: 1100px
}
.study-button-container-custom{
    background-color: #dadeaa; /* 버튼 배경 색상 */
    color: black;
    border: 2px solid #8d9429; /* 테두리 색상 */
    border-radius: 5px; /* 둥근 모서리 */
    padding: 10px 20px; /* 버튼 안쪽 여백 */
    cursor: pointer; /* 클릭 가능한 UI */
    margin-left: auto; /* 버튼을 오른쪽 정렬 */
}
.study-button-container-custom:hover{
    background-color: #8d9429; /* 호버 시 버튼 색상 */
    color: #dadeaa; /* 호버 시 텍스트 색상 */
    transition: 0.3s; /* 부드러운 전환 효과 */
}