.sidebar {
  height: 100vh;
  width: 23%; /* 사이드바 너비 */
  position:fixed;
  left: 0;
  top: 0;
  background-color: #fafafa;
  color: #4c4e33;
  padding: 1rem;
  border-right: 0.1px solid #c7c7c7;
  overflow-y: auto;
}

.sidebarWrapper {
  display: flex;
  flex-direction: column;
}

.sidebarList {
  margin-top: 80px;
  list-style: none;
  padding: 0;
}

.sidebarMenu {
  margin-bottom: 2rem;
}

.sidebarListItem {
  padding: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 0.3rem;
  color: #4c4e33;
  
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: #e8e8e8;
}

.sidebarIcon {
  margin-right: 0.6rem;
  font-size: 20px !important;
  
  
}

.nav-logo img {
  width: 100%;
  padding: 1rem 0;
  display: block;
  margin: 0 auto;
}

.adminSidebar-list{
  margin-top: 110px;
}

.link-borderNone{
  text-decoration: none;
  color: black;
  
}


.navbar-link-borderNone{
  text-decoration: none;
  color: #4c4e33;
  
}

.adminAndSidebarIcon{
  margin-right: 0.6rem;
  margin-bottom: 3px;
}