.my-page {
  background-color: #fafafa;
  margin-left: 23%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.myPage-title {
  font-size: 1.35rem;
  font-weight: bold;
}

/* 마이페이지 title + 내 정보 보기 버튼 */
.user-info-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 내 정보 보기 버튼 */
.view-info-btn {
  background: none;
  border: none;
  color: #191919;
  font-size: 0.95rem;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
  margin-right: 21%;
}

.mypage1-margin1{
  margin-top: 130px;
}