.sub-nav {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1em;
}

.subNav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.subNav-list li {
  margin: 0 1rem;
  cursor: pointer;
  padding-bottom: 0.4rem;
}

.subNav-list .active {
  border-bottom: 0.25rem solid #dadeaa;
  text-align: center;
}
