.register-area{
    max-width: 550px;
    
}
.signup-form-title {
    font-weight: bold;
    color: #8D9429;
    margin-top: 4em;
    margin-bottom: 0.8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.register-container {
    
    border: 1px solid lightgray;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

.registerbutton-right{
    margin-left: auto;
    display: block; /* 필요한 경우 */
}

/* .register-container {
    border: 1px solid lightgray;
    width: 600px;
    height: 550px;
    background-color: white;
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
} */

.interest-checkbox-button {
    display: inline-block;
    padding: 0.6em 1.4em;
    border-radius: 1.5em;
    background-color: rgba(210, 210, 210, 255);
    font-size: 0.8em;
    text-align: center;
    user-select: none;
    transition: 0.1s ease-in;
    color: rgba(75, 75, 75, 255);
    cursor: pointer;
    margin: 5px;
    border: none;
}

.interest-checkbox-button:hover {
    background-color: rgba(218, 222, 170, 0.7);
}

.interest-checkbox-button.checked {
    background-color: rgba(218, 222, 170, 255);
    color: black;
}

.interest-checkbox-button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.8);
}