.user-temp-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 1.5rem;
}

.temp-title {
  font-size: 0.8rem;
  color: #7a7a7a;
  text-decoration: underline;
  font-weight: bold;
  margin-left: 0.3rem;
}

.user-temp-bar-container {
  gap: 0.8rem;
  display: flex;
}

.user-temp-bar {
  width: 30rem;
  height: 1.8rem;
  background-color: #ffffff;
  border-radius: 0.9rem;
  border: 1px solid #d2d2d2;
  overflow: hidden;
  flex-shrink: 0;
}

.temp-fill {
  height: 100%;
  background-color: #6c9466;
  transition: width 0.3s ease;
  border-radius: 0.9rem;
}

.temp-label {
  font-size: 0.8rem;
  color: #191919;
  font-weight: bold;
  white-space: nowrap;
  margin-top: 0.35rem;
}
