.reaction-box {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  font-size: 0.8rem;
  color: #7a7a7a;
  margin: 0;
}

.reaction-item {
  display: flex;
  cursor: pointer;
}

.reaction-item span {
  margin-right: 0.3rem;
}

.like-icon,
.liked-icon,
.comment-icon {
  font-size: 0.9rem;
  margin-right: 0.2rem;
}
