.userprofile {
  display: flex;
  align-items: center;
  position: relative;
  gap: 0.6rem;
}

.user-profile-icon {
  color: #6c9466;
}

.user-profile-name {
  font-weight: bold;
}

.notification {
  position: relative;
  padding-left: 2rem;
  color: #7a7a7a;
}

.notifyBadge {
  position: absolute;
  top: 0;
  right: 0;
  left: 2.85rem;

  background-color: #ff6b6b;
  border-radius: 50%;
  height: 14px;
  width: 14px;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  font-size: 10px;
  color: white;
}

.dropdown-menu {
  position: absolute;
  margin-top: 0.6rem;
  left: 0;
  z-index: 1050;
  width: 10rem;
  border-radius: 0.7rem;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.dropdown-item {
  border-bottom: 1px solid #ccc;
  padding: 0.9rem;
  color: #333;
  text-decoration: none;
}

.dropdown-item:last-child {
  border-bottom: none;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.dropdown-menu > .dropdown-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dropdown-icon-style {
  cursor: pointer;
  margin-top: 10px;
}

