/* 전체 박스 */
/* .study-recruit-check-box {
  display: block;
  border: 2px solid #dbdbdb;
  border-radius: 0.5rem;
  width: 100vh; */
/* max-width: 1200px; */
/* padding: 2rem;
  margin: auto;
  background-color: #fafafa; */
/* box-sizing: border-box; */
/* } */

/* 설명 텍스트 */
/* .study-description {
  margin-top: 2rem;
  font-size: 1rem;
  color: #191919;
} */

/* 전체 박스 */
.study-recruit-check-box {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  border: 2px solid #dbdbdb;
  border-radius: 0.5rem;
  width: 90%;
  /* max-width: 800px; */
  height: auto;
  /* max-height: 90vh; */
  padding: 2rem;
  margin: auto;
  /* overflow-y: auto; */
  background-color: #fafafa;
  box-sizing: border-box;
}

.study-recruit-check-box > * {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

/* 설명 텍스트 */
.study-description {
  margin-top: 0.8rem;
  font-size: 1rem;
  color: #4c4e33;
  font-family: 'Pretendard-Bold';
}
